In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
akas = pd.read_csv("Data/title-akas-us-only.csv", low_memory=False)

In [3]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [4]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         1452564 non-null  object
 5   types            1452564 non-null  object
 6   attributes       1452564 non-null  object
 7   isOriginalTitle  1452564 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

In [5]:
basics = pd.read_csv("Data/title.basics.tsv.gz", sep='\t', low_memory= False)

In [6]:
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

In [7]:
basics = basics.replace({'\\N':np.nan})

In [8]:
basics = basics.dropna(subset= ['runtimeMinutes'])

In [9]:
filter_full_movies = basics[basics['titleType'] == 'movie']

In [10]:
filter_full_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [11]:
basics['startYear'] = basics['startYear'].astype(float)

In [12]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 862524 entries, 0 to 10016872
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          862524 non-null  object
 1   titleType       862524 non-null  object
 2   primaryTitle    862524 non-null  object
 3   originalTitle   862524 non-null  object
 4   isAdult         862524 non-null  object
 5   startYear       853649 non-null  float64
 6   endYear         20590 non-null   object
 7   runtimeMinutes  862524 non-null  object
 8   genres          853335 non-null  object
dtypes: float64(1), object(8)
memory usage: 65.8+ MB

In [13]:
basics = basics[(basics['startYear'] >=2000) & (basics['startYear'] <=2022)]

In [14]:
filter_documentaries = basics['genres'].str.contains('Documentary')

In [15]:
basics = basics[~filter_documentaries]

TypeError: bad operand type for unary ~: 'float'

In [ ]:
filter_documentaries

In [ ]:
basics.head()

In [ ]:
basics.to_csv("Data/refined_basics.csv")

In [ ]:
basics.info()

In [ ]:
ratings = pd.read_csv("Data/title.ratings.tsv", sep='\t', low_memory=False)

In [ ]:
filter_ratings = ratings['tconst'].isin(basics['tconst'])

In [ ]:
ratings = ratings.replace({'\\N':np.nan})

In [ ]:
ratings

In [ ]:
ratings.isna().sum()

In [ ]:
ratings.to_csv("Data/refined_ratings.csv")